body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fafad2;
}

#game-container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#share-button {
    background-color: #1DA1F2; /* Xのブランドカラー */
}

#share-button:hover {
    background-color: #0c85d0;
}

#options-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#result-image {
    max-width: 300px; /* 画像の最大幅を300pxに設定 */
    width: 100%; /* 親要素の幅に合わせて伸縮 */
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-image {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}